{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    {% for article in articles %}
        {#  la boucle for parcourt le tableau $articles #}
        <article>
            {# l'instruction article.title fait appel à la méthode getTitle de l'objet $article dans src/Domain/Article.php #}
            <h2><a class="articleTitle" href="{{ path('article', { 'id': article.id}) }}">{{ article.title }}</a></h2>
            <p>{{ article.content }}</p>
        </article>
    {% endfor %}
{% endblock %}